/dist
/node_modules
/build
/tmp


logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


.env
.env.development
.env.test
.env.production


.temp
.tmp

node_modules/
**/node_modules/

dist/
build/
**/dist/
**/build/

.env
**/.env
!**/.env.example


*.log
npm-debug.log*


.DS_Store
Thumbs.db


.vscode/
.idea/
*.swp


**/.vite/


extension/*.zip